{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}News App - Login{% endblock title %}

{% block content %}

<div class="container pt-3">
    <!-- T I T L E -->
    <h1 class="display-2 mt-5 text-dark text-center g-font">Login</h1>
    <div class="divider bg-primary border border-secondary"></div>

    <!-- R E G I S T E R -->
    <div class="alert-log-reg alert-primary mt-3 w-50 p-3 mx-auto border border-primary rounded" role="alert">Need an account?
        <a href="{% url 'signup' %}">Register here.</a>
    </div>

    <!-- L O G I N   F O R M -->
    <div class="mt-3 p-3 border border-secondary rounded w-50 mx-auto">
        <form action="" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <input class="btn btn-primary btn-lg btn-wide mt-3" type="submit" value="Login">
        </form>
    </div>

</div>

{% endblock content %}